.App {
  text-align: center;
}

.App .users {
  text-align: left;
}

.App .users p {
  display: inline-block;
  cursor: pointer;
}

.App .users h1,
.App .calendar h1 {
  padding-bottom: 20px;
}

.App .calendar h4 {
  text-align: center;
}

.App .vacations {
  text-align: left;
  display: inline-block;
}

.App .vacations table th,
.App .vacations table td {
  text-align: center;
}

.App .vacation-picker {
  text-align: left;
  display: inline-block;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
